@model BoardGameApp.Models.BoardGame
@{
    ViewBag.Title = "Board Game Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<br />
<p>Wydawca: @Model.Publisher</p>
<p>Liczba graczy: @Model.Players</p>
<p>Czas trwania gry: @Model.Playtime</p>
<p>Opis: @Model.Description</p>

<p>Dostępna ilość: @Model.Amount</p>
@if (Request.IsAuthenticated && Model.Amount > 0)
{
    @Html.ActionLink("Zarezerwuj", "Order/" + Model.Id, "BoardGame", new { @class = "btn btn-primary" })
    <br /><br /><br />
}
@Html.ActionLink("Wstecz", "List", "BoardGame", new { @class = "btn btn-default" })