@model BoardGameApp.Models.BoardGame
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj</h2>
@using (Html.BeginForm("Update", "BoardGame", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true, "Proszę poprawić wszystkie poniższe błędy.")
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @maxlength = "255" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Publisher)
        @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control", @maxlength = "255" })
        @Html.ValidationMessageFor(m => m.Publisher)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Players)
        @Html.TextBoxFor(m => m.Players, new { @class = "form-control", @maxlength = "13" })
        @Html.ValidationMessageFor(m => m.Players)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Playtime)
        @Html.TextBoxFor(m => m.Playtime, new { @class = "form-control", @maxlength = "13" })
        @Html.ValidationMessageFor(m => m.Playtime)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @maxlength = "500" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Zapisz<span class="glyphicon glyphicon-floppy-disk"></span></button>
}

